<!--
 * @Author: zhangjicheng
 * @Date: 2022-04-28 14:55:39
 * @LastEditors: zhangjicheng
 * @LastEditTime: 2022-04-29 21:07:20
 * @FilePath: \webpack-demo\src\pages\index.ejs
-->
<p>
  <%= data.name %>
</p>