.codeBar {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-left: #0097a7 solid 4px;
    padding-left: 8px;
    .btn {
      font-size: 16px;
      line-height: 1;
      cursor: pointer;
    }
  }
  .codeContent {
    margin: 0;
    overflow: hidden;
    transition: all ease .3s;
  }
  .code {
    font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-size: 12px;
  }
}

